body {
  text-align: center;
  font-weight: bold;
}
#counter #step {
  margin: 0;
}
#counter span {
  padding: 1px 6px;
  background-color: rgb(228, 226, 226);
  border: solid 1px black;
  border-radius: 3px;
}
#counter span:hover {
  background-color: darkgray;
}
